name: My first workflow
on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    name: MyBuild
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: 3.9
      - name: List Content
        run: |
          ls
          cat README.md
